<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit_student" method="POST">

        <table>
            <tr>
                <td>
                    <label for="">Name</label>
                </td>
                <td>
                    <input type="text" name="txtname">
                </td>
            </tr>
                <tr>
                <td>
                    <label for="">Address</label>
                </td>
                <td>
                    <input type="text" name="txtaddr">
                </td>
            </tr>
                <tr>
                <td>
                    <label for="">city</label>
                </td>
                <td>
                    <input type="text" name="txtcity">
                </td>
            </tr>
                <tr>
                <td>
                    <label for="">pin</label>
                </td>
                <td>
                    <input type="text" name="txtpin">
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" name="" id="" value="Add">
    </form>
    
</body>
</html>