<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
       <thead>
        <th>name</th>
        <th>addr</th>
        <th>city</th>
        <th>pin</th>
       </thead>
       <tbody>
        {% for a_data in data %}
        <tr>
            <td>
                {{a_data['name']}}
            </td>
              <td>
                {{a_data['addr']}}
            </td>
              <td>
                {{a_data['city']}}
            </td>
              <td>
                {{a_data['pin']}}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>