<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>PIN</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row['name'] }}</td>
                <td>{{ row['addr'] }}</td>
                <td>{{ row['city'] }}</td>
                <td>{{ row['PIN'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>