nav a{
    text-decoration: none;
    margin-left: 20px;
    display: flex;
    font-size: 25px;
    color: rebeccapurple;
    box-shadow: 0px 8px 16px 0px ;
    background-color: antiquewhite;
    display: flex;
    padding: 34px;
}
nav{
    display: flex;
    justify-content: center;
    gap:25px ;
}